.App {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px black;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: var(--dark-grey);
}

.nav-button-container {
  margin-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  position: absolute;
  top: 0px;
}



.nav-button {
  width: 8rem;
  min-width: min-content;
  padding: .25rem;
  font-size: 1em;
  outline: none;
  border: 1px solid var(--white);

  color: var(--white);
  background-color: var(--dark-grey);
  /* filter: blur(1px); */
  transition: transform .5s ease-out;
  cursor: pointer;
}

.nav-button.selected {
  border: 1px solid var(--white);
  color: var(--white);
  background-color: var(--orange);
  cursor: auto;
  
}


.nav-button.unselected:hover {
  filter: brightness(1.2);
  box-shadow: 2px 2px 4px black;
  transform: translateY(-8px);
  /* filter: blur(0); */

}



.main-container {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1439px) {
  .main-container {
      max-width: 70vw;
  }
}
@media only screen and (min-width: 1440px) {
  .main-container {
      max-width: 1000px;
  }
}

@media only screen and (max-width: 699px) {
  .nav-button {
    width: 4rem;
  }
} 

@media only screen and (min-width: 700px) {
  .nav-button {
    width: 8rem;
  }
}

.to-color {
  color: var(--orange);
}