.Contact {
    /* -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px); */
    margin-top: 4rem;

    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    box-shadow: 2px 2px 5px black;
    border: 1rem solid var(--white);
}

.copy-to-clipboard-button {
    margin-top: 1em;
    width: 8rem;
    min-width: min-content;
    padding: .25rem;
    font-size: 1em;
    outline: none;
    border: 1px solid var(--white);
  
    color: var(--white);
    background-color: var(--dark-grey);
    /* filter: blur(1px); */
    transition: transform .5s ease-out, background-color .5s;
    cursor: pointer;
}

.copy-to-clipboard-button:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 5px black;
}

.copy-to-clipboard-button:active {
    background-color: var(--orange);
}

