

.josiah-eakle-header {
    margin-block-start: 0;
}

.Intro {

    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: 1rem solid var(--white);
    box-shadow: 2px 2px 5px black;

    margin-top: 4rem;
    margin: 1rem;

    padding-top: 3rem;
    padding-bottom: 3rem;  
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* 
@media only screen and (max-width: 699px) {
    .Intro {

    }
}

@media only screen and (min-width: 700px) {
    .Intro {

    
    }
} */