.Portfolio {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    /* background-color: black; */
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: 1rem solid var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px black;
}

.project-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}