.Project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5em;
    border:  1px solid var(--white);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    /* display: grid;
    grid-template-columns: 50% 50%; */

    transition: background-color .5s;
}

.Project:hover {
    box-shadow: 2px 2px 5px black;
    background-color: var(--dark-grey);
} 

.project-title {
    margin-block-end: 0;
    color: var(--orange);
}

.project-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.github-icon {
    width: 1.5em;
    height: auto;
    transition: transform .5s ease-out;
    /* color: var(--orange); */
}

.github-icon:hover {
    /* animation-name: github-icon;
    animation-duration: 200ms; */
    transform: translateY(-5px);

}

.github-link {
    height: 24px;
}
  
.project-link {
    /* text-decoration: none; */
    /* height: 24px; */
    color: var(--orange);
}

.project-link-button {
    transition: transform .5s ease-out;
    outline: none;
    border: none;
    font-size: .9em;
    height: 1.5em;
    border-radius: 10px;
    cursor: pointer;
}

.project-link-button:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 4px black;
}

.project-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1em;
}

.project-bullet-text {
    text-align: left;
}

.project-bullets {
    margin-top: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    align-self: left;
}

li { 
    text-align: left;
}